.top-space {
  margin-top: 30px;
}
.left-justify {
  float: left;
}
.text-font {
  font-size: x-large;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}
.h1-justify {
  float: left;
}
div {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  body {
    width: 50%;
  }
  .top-space {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
  .top-space {
    margin-top: 0px;
  }
}
@media (max-width: 360px) {
  body {
    display: flex;
    width: 100%;
  }
  .top-space {
    margin-top: 0px;
  }
}
.spin-center{
    text-align: center;
}